<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-salesforce.ZPM">
    <Module>
      <Name>iris-salesforce</Name>
      <Version>1.0.0</Version>
      <Description>Interoperability Adapter for Salesforce</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.irissalesforce.PKG"/>
    </Module>
  </Document>
</Export>
